<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog Maino" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    

    <% if user_signed_in? %>
      <div class="d-inline-flex bg-primary w-100 justify-content-between pe-5 ps-5">
        <h1 class=" text-center text-white"> LALALA </h1>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "text-white align-self-center" %>

      </div>
      <p>Bem-vindo, <%= current_user.email %>!</p>
    <% else %>
      <div class="d-inline-flex bg-primary w-100 justify-content-between pe-5 ps-5">
        <h1 class=" text-center text-white"> LALALA </h1>
        <%= link_to 'Login', new_user_session_path, class: "text-white align-self-center" %>
      </div>
    <% end %>


    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
